body{
    background-color: #ffde22; 
    margin: 0; 
    overflow-x: hidden;
}
h1{
    margin: 0;
}
h3{
    margin: 0;
}
.my_img{
    transition: 1s;
}
.my_img:hover{
    transform: rotate(180deg);
}
